
@{
    ViewBag.Title = "ProductByID";
}

<h2>ProductByID</h2>

<p>Thông tin Sản phẩm</p>
<ul>
    <li>MaSP: @ViewBag.product.ProductID</li>
    <li>Tên SP: @ViewBag.product.ProductName</li>
    <li>Color: @ViewBag.product.Color</li>
    <li>Size: @ViewBag.product.Size</li>
    <li>Quantity: @ViewBag.product.Quantity</li>
</ul>