@using Project_20210315_Models.Models;
@{
    ViewBag.Title = "StudentByID";
}

<h2>StudentByID</h2>
<ul>
    <li>@((TempData["student"] as Student).StudentID) </li>
    <li>@((TempData["student"] as Student).StudentName) </li>
    <li>@((TempData["student"] as Student).BirthDay.ToShortDateString()) </li>
    <li>@((TempData["student"] as Student).Sex?"Nam":"Nữ") </li>
    <li>@((TempData["student"] as Student).Address) </li>
</ul>
